<pagination-component data-target='{{ target }}' data-container-id='{{ container_id }}'>
  {%- if paginate.next -%}
    <pagination-infinite-scroll class='pagination-infinite-scroll' data-url='{{ paginate.next.url }}'>
      <div class='loading-spinner hidden pagination-infinite-scroll__loading-spinner'></div>
    </pagination-infinite-scroll>
  {%- endif -%}
</pagination-component>
 