<div
  class='loading-overlay {{ class }} hidden'
  id='{{ id }}'
  {{ attrs }}
>
  <div class='dots-spinner product-card__dots-spinner'>
    <div class='dots-spinner__dot'></div>
    <div class='dots-spinner__dot'></div>
    <div class='dots-spinner__dot'></div>
  </div>
</div>
